body.normal {
    ul.inline {
        li {
            display: inline-block;
            margin: 5px;
            &::before {
                content: "ãƒ»";
            }
        }
    }

    .create-button {
        background: rgb(150, 244, 255);
        color: #111111;

        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 30px;

        width: min(100%, 500px);
        margin: 10px;
        padding: 15px;
        border-radius: 20px;

        transition: all 0.3s ease;

        &:hover {
            background: rgb(73, 237, 255);
            color: #000;
        }
    }

    footer {
        nav {
            a {
                color: #00f;
                margin: 5px;
            }
        }
    }
}
